MONGO_URL=mongodb://localhost:27017
DB_NAME=your_database_name
HOST=localhost
PORT=5001
MYSQL_HOST=localhost
MYSQL_USER=your_mysql_user
MYSQL_PASSWORD=your_mysql_password
MYSQL_DATABASE=your_mysql_database
MYSQL_PORT=3306